<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>{{title}}</title>
</head>

<body style="margin:0;font-family:arial;background:#bcf5bc">
    <table style="border:0;width:100%">
        <tr style="background:#345162">
            <td style="padding:20px;color:#ffffff;text-align:center;font-size:40px;font-weight:600">
                {{app_name}}
            </td>
        </tr>
      <tr>
        <td style="padding:20px;color:#ffffff;text-align:center;font-size:40px;font-weight:600">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="182.000000pt" height="182.000000pt" viewBox="0 0 182.000000 182.000000"
               preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,182.000000) scale(0.100000,-0.100000)"
               fill="#345162" stroke="none">
              <path d="M400 1744 c-30 -8 -73 -26 -96 -39 -61 -36 -139 -126 -166 -193 -23
                    -57 -23 -57 -23 -552 l0 -495 24 -60 c34 -83 133 -183 216 -215 54 -22 79 -24
                    259 -28 l199 -4 -164 182 c-282 314 -329 370 -329 390 0 22 -12 7 293 349 125
                    141 238 262 250 268 31 18 353 17 387 0 17 -8 26 -22 28 -43 3 -27 -22 -59
                    -237 -300 -133 -148 -241 -271 -241 -274 0 -4 108 -127 240 -274 132 -148 240
                    -275 240 -284 0 -12 11 -14 63 -9 63 6 153 32 162 47 3 5 -37 55 -88 112 -302
                    336 -347 389 -347 408 0 21 506 595 544 617 12 7 38 12 60 13 l39 0 -7 51
                    c-13 97 -44 159 -115 230 -48 48 -82 72 -126 90 l-60 24 -475 2 c-395 2 -484
                    0 -530 -13z"/>
              <path d="M1630 823 c-41 -47 -75 -88 -75 -93 0 -4 34 -46 75 -94 l75 -86 3 90
                    c1 50 1 130 0 179 l-3 89 -75 -85z"/>
            </g>
          </svg>
        </td>
      </tr>
        <tr>
            <td style="padding:20px;color:#000000;font-size:16px;font-weight:100">
                {{text1}}<br>
                {{text2}}<br>
                {{text3}}
                {{text4}}
            </td>
        </tr>
    </table>
</body>

</html>